.cart {
  width: 100%;
  padding: 150px 0;
}
.cart__container {
  max-width: 1200px;
  margin: auto;
}
.cart__title {
  font-weight: 400;
  font-size: 40px;
}
.cart__list {
  display: flex;
  flex-direction: column;
  gap: 25px;
  border-bottom: 1px solid rgb(173, 173, 173);
  padding-bottom: 20px;
  margin-bottom: 100px;
}
.cart__list li:nth-child(1) {
  border-bottom: 1px solid rgb(173, 173, 173);
  padding-bottom: 20px;
}
.cart__list_item {
  display: grid;
  grid-template-columns: 2.5fr 1.5fr 1fr;
  align-items: center;
  font-size: 14px;
}
.cart__product,
.cart__quantity,
.cart__total {
  letter-spacing: 1px;
  text-transform: uppercase;
}

.cart__list_item_product {
  display: flex;
  gap: 15px;
}
.cart__list_item_product img {
  width: 150px;
}
.cart__list_item_info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cart__list_item_quantity_container {
  display: flex;
  align-items: center;
  gap: 30px;
}
.delete_icon {
  background-image: url(../images/cart/delete_icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.info__quantity_btns {
  border: 1px solid #000;
  width: 150px;
  font-size: 20px;
  justify-content: space-between;
  display: flex;
  margin: 15px 0 20px;
  align-items: center;
}
.info__quantity_btns span:nth-child(2) {
  padding: 0 13px;
}
.info__quantity_btns button:nth-child(2n + 1) {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: 20px;
  padding: 15px;
  transition: 0.3s all ease;
}
.info__quantity_btns button:nth-child(2n + 1):hover {
  background-color: #8b8b8b;
  color: #fff;
}
.addtocart_btn,
.delete_from_cart_btn {
  background-color: transparent;
  width: 100%;
  padding: 20px 0;
  font-size: 16px;
  border: 1px solid rgb(151, 151, 151);
  cursor: pointer;
  margin-bottom: 30px;
}
.delete_from_cart_btn {
  background-color: #000;
  color: #fff;
}

.total_and_checkout {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-end;
  gap: 20px;
}
.estimated_total {
  margin: 0;
  font-weight: normal;
  letter-spacing: 1px;
}
.taxed {
  font-size: 12px;
}
.checkout_btn {
  width: 300px;
  background-color: #000;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  border: none;
  padding: 15px 10px;
  cursor: pointer;
  margin-top: 20px;
}

/* ///FORM */

.send_to_email_form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.user_email {
  border: 1px solid #afafaf;
  color: #000;
  outline: none;
  font-size: 16px;
  padding: 5px 0 5px 5px;
}
.error_email_message {
  color: red;
  font-size: 12px;
  display: none;
}

.toast_on_submit,
.toast_on_submit_hidden {
  background-color: #000;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  position: fixed;
  top: 30px;
  right: 30px;
  padding: 10px 25px;
  animation: toast;
  animation-duration: 5s;
  transition: 5 all ease;
  opacity: 0;
}

@keyframes toast {
  0% {
    top: -80px;
    opacity: 0;
  }
  25% {
    top: 50px;
    opacity: 1;
  }
  100% {
    top: -80px;
    opacity: 0;
  }
}


.toast_on_submit_hidden {
  display: none;
  top: -80px;
  animation: toast;
  animation-duration: 3s;
}
